<h2> Order Show Page</h2>

  <p>
    <strong>User ID:</strong>
    <%= @order.user_id %>
  </p>

  <p>
    <strong>Product ID:</strong>
    <%= @order.product_id %>
  </p>

  <p>
    <strong>Order ID:</strong>
    <%= @order.id %>
  </p>

  <p>
    <strong>Product Total:</strong>
    <%= @order.total %>
  </p>

  <p>
    <%= link_to 'Back', orders_path %>
  </p>
