
<h3>Products</h3>
<br>

    <% cache (cache_key_for_products) do %>
    <% Product.all.each do |p| %>
        <% cache(p) do %>          
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class = "thumbnail">
                 <%= link_to p do %> 
                   <%= image_tag(p.image_url)%>
                 <%end%> 
                <div class = "caption">
                    <p><strong><%= p.name%></strong></p>
                    <p><%= p.description %></p>
                    <p><strong>Colour: </strong><%= p.colour %></p>
                    <p><strong>$<%= p.price %></strong></p>         
                    <p><strong>In stock: </strong><%= p.stock %></p>         
                    <p class = "btn btn-default" role = "button"><%= link_to 'More Detail', p %></p>
                </div>
              </div> 
            </div>  
        <%end%>
      <%end%>
    <%end%>
<br>
                    
<% if signed_in? && current_user.admin? %>
  <%= link_to 'New Product', new_product_path %>
<% end %>
