<h3>Products</h3>

<table>  
  <tbody>
    <% cache (cache_key_for_products) do %>
    <% Product.all.each do |p| %>
        <% cache(p) do %>
        <tr>
          <td><%= image_tag(p.image_url)%></td>
          <td>
            <ul>
              <li><strong><%= p.name%></strong></li>
              <li><%= p.description %></li>
              <li><strong>Colour: </strong><%= p.colour %></li>
              <li><strong>$<%= p.price %></strong></li>         
              <li><strong>In stock: </strong><%= p.stock %></li>
              <br>
              <li><%= link_to 'More Detail', p %></li>
              <% if signed_in? && current_user.admin? %>
                <li><%= link_to 'Edit', edit_product_path(p) %></li>
                <li><%= link_to 'Destroy', p, :method => :delete, data: {confirm: "Are you sure you want to delete?"}%></li>
              <% end %>
            </ul>
          </td>
        </tr>
        <%end%>
      <%end%>
    <%end%>
  </tbody>
</table>

<br>
  
<% if signed_in? && current_user.admin? %>
  <%= link_to 'New Product', new_product_path %>
<% end %>