

<table>
  <thead>
    <tr>
      <th><%= image_tag("denimcamerasmall.jpg", :class => "product-image", :width => "100%") %></th> 
      <th id = "womens_label">Women's Clothing</th>
      <th>Description</th>
    </tr>
    <tr>
      <th id = "accessories_label">Accessories</th>
      <th><%= image_tag("boots.jpg", :class => "product-image", :width => "100%") %></th>
      <th>Description</th>
    </tr>
    <tr>
      <th><%= image_tag("pipelakesmall.jpg", :class => "product-image",:width => "100%") %></th>
      <th id = "mens_label">Men's Clothing</th>
      <th>Description</th>
    </tr>
  </thead>
  
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>