<div class = "productshow thumbnail"> 
  <p>
    <%= image_tag(@product.image_url, class: 'img-zoom', width: 450, data: {'zoom-image' => image_url(@product.image_url)}) %>
  </p>  
  <div class = "caption">
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <%= @product.description %>
    </p>

    <p> 
      <strong>Colour:</strong>
      <%= @product.colour %>
    </p>

    <p>£<%= @product.price %></p>

    <p>Average Rating: <div class = "rated" data-score="<%= @product.average_rating %>"></div> </p>
      <%= form_tag "/payments/create" do %>
      <%= hidden_field_tag :product_id, @product.id %>
      <%= render partial: "shared/stripe_checkout_button" %>
    <%end%>
  </div>
</div>

<div class = "container comments">
  <%= render 'comments/all_comments' %>
  <%= will_paginate @comments, :class => "pagination" %>
  <%= render 'comments/new_comment' %>
</div>

<br>
<%= link_to 'Back', products_path %>
<br>  

<br>
<% number_of_shows =  @product.number_of_shows %>
<% if number_of_shows > 0 %>
  <small>Product Views: <%= number_of_shows %> </small>
<% end %>  
