<p>
  <%= image_tag(@product.image_url) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <%= @product.description %>
</p>

<p> 
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>£<%= @product.price %></p>

<p>Average Rating: <div class = "rated" data-score="<%= @product.average_rating %>"></div> </p>

<%= form_tag "/payments/create"  %>
  <%= render partial: "shared/stripe_checkout_button" %>
<% %>

<%= render 'comments/all_comments' %>
<%= will_paginate @comments, :class => "pagination" %>
<%= render 'comments/new_comment' %>

<br>
<%= link_to 'Back', products_path %>
