<!DOCTYPE html>
<html>
<head>
  <title>Amber Mulholland | Newapp</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <body>
    <!--Navigation Bar --> 
    <nav>
      <div class = "navbar navbar-header navbar-inverse navbar-fixed-top" role = "navigation">
        <div class = "container-fluid">
          <div class = "project">
            <a href= "#">Amber Mulholland</a>
          </div>
          <div class = "navbar-header" id="heading">
            <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
              <span class = "sr-only"> Toggle Navigation</span>
              <span class = "icon-bar"></span>
              <span class = "icon-bar"></span>
              <span class = "icon-bar"></span>
            </button>

            <div class = "navbar-collapse navbar-header collapse">
              <ul class = "nav navbar-nav">
                <li><%= link_to "Home", static_pages_landing_page_path %></li>
                <li><%= link_to "About", static_pages_about_path %></li>
                <li><%= link_to "Contact", static_pages_contact_path %></li>
                <li><%= link_to "Products", products_path %></li>
                <li> 
                  <%= form_tag("/products", method: "get", id: "search_form") do %>
                    <%= label_tag(:q, "Search:", :id => "search_label") %>
                    <%= text_field_tag(:q, value = nil, options = {:id => "search_bar"}) %>
                    <%= submit_tag("Search", id: "search_button") %>
                  <% end %>
                </li>  
              </ul>
            </div>
          </div>
        </div>
      </div>  
     </nav> 
    <!--Main Content-->  
    <div class = "main_section">
      <div class = "product_image">
        <%= image_tag("litotehero.jpg", :class => "main-image",  :width => "100%") %>
      </div>  
      <div class = "shop_header">
       <!--empty div class for later insertion of subheading-->
      </div>  
    </div>
    <%= yield %> 
  </body>    
</html>
